html {
    box-sizing: border-box;}
body {
  height: 100%;
  margin: 0;
  font-family: Copperplate, Papyrus, fantasy;
}


img {

  border: 1px solid #4CAF50;
  border-style: hidden;
  /* padding: 25px 50px 25px 50px; */
  max-width: 100%;
  height: auto;}
  /* body {font-family: Copperplate, Papyrus, fantasy;
      height: 100%;
      padding: 0;
      margin: 0;} */
      /* padding: 25px 50px 25px 50px;} */

/* .fade-img {
  -webkit-transition: .5s;
  transition: .5;
  opacity: 1;
      } */

div {text-align: center;}
div.row{padding: 10px;}
p {text-align: left;}
.bottom-text{padding-bottom: 50px;}
a {text-decoration: none;}
/* .content {margin: auto;
        padding: 10px;} */
.container-fluid{position: absolute;
                top: 10%;
                bottom: 20%;
                }