/* * {
    box-sizing: border-box;} */
body {
  height: 100%;
  margin: 0;
  font-family: Copperplate, Papyrus, fantasy;
}

/* The wrapper contains all of the page's content besides the footer, which is pushed to the bottom of the page */
.wrapper {
  position: relative;
  min-height: 100%;
  padding-bottom: 130px;
  overflow: auto;
} 

img {

  border: 1px solid #4CAF50;
  border-style: hidden;
  /* padding: 25px 50px 25px 50px; */
  width: 80%;
  height: auto;}
  /* body {font-family: Copperplate, Papyrus, fantasy;
      height: 100%;
      padding: 0;
      margin: 0;} */
      /* padding: 25px 50px 25px 50px;} */

/* .fade-img {
  -webkit-transition: .5s;
  transition: .5;
  opacity: 1;
      } */

div {text-align: center;}
div.row{padding: 25px;}
p {text-align: left;}
.bottom-text{padding-bottom: 50px;}
a {text-decoration: none;}
/* .content {margin: auto;
        padding: 10px;} */
.container-fluid{position: absolute;
                top: 30%;
                bottom: 70%;
                }